{% extends 'base_oculus.html.twig' %}

{% block title %}Show invoice details{% endblock %}

{% block dashboard_title %}Invoice{% endblock %}

{% block breadcrumb %}Invoice{% endblock %}

{% block new_create %}Invoice{% endblock %}

{% block new %}{{ path('invoice_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('invoice_index') }}"><button class="btn btn-sm btn-primary">back to list</button></a>&nbsp;&nbsp;
        {{ include('invoice/_delete_form.html.twig') }}
    {% endblock %}


