{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}


    {{ include('invoice/_form.html.twig') }}

    <a href="{{ path('invoice_index') }}">back to list</a>
{% endblock %}
