{% extends 'base_oculus.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block dashboard_title %}Invoice{% endblock %}

{% block breadcrumb %}Invoice{% endblock %}

{% block new_create %}Invoice{% endblock %}

{% block new %}{{ path('invoice_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>InvoiceType</th>
    <th>FirmName</th>
    <th>ClientName</th>
    <th>FirmAdress</th>
    <th>ClientAdress</th>
    <th>ClientBank</th>
    <th>FirmBank</th>
    <th>FirmIban</th>
    <th>ClientIban</th>

    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
            <tr>
                <td>{{ invoice.id }}</td>
                {#<td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ invoice.updatedAt ? invoice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ invoice.owner }}</td>
                <td>{{ invoice.invoiceType }}</td>
                <td>{{ invoice.firmName }}</td>
                <td>{{ invoice.clientName }}</td>
                <td>{{ invoice.firmAdress }}</td>
                <td>{{ invoice.clientAdress }}</td>
                <td>{{ invoice.clientBank }}</td>
                <td>{{ invoice.firmBank }}</td>
                <td>{{ invoice.firmIban }}</td>
                <td>{{ invoice.clientIban }}</td>

                <td>
                    <a href="{{ path('invoice_show', {'id': invoice.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show invoice details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit invoice details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post"
                          action="{{ path('invoice_delete', {'id': invoice.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ invoice.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this invoice"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
    {% endblock %}

{% block buton %}
    <a href="{{ path('invoice_index') }}">back to list</a>
    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>
    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}




















