{% extends 'base_oculus.html.twig' %}
{% block title %}Log in!{% endblock %}
 {% block sidebar %} {% endblock %}

{% block container %}
<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="../assets/images/icon.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Oculux</a>
        </div>
        <div class="card">
            <div class="body">
                <p class="lead">Login to your account</p>

                <form class="form-auth-small m-t-20" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}



                    <div class="form-group">
                        <label for="inputUsename" class="control-label sr-only">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control round"  placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control round"  placeholder="Password">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </div>


                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input type="checkbox" name="_remember_me">
                            <span>Remember me</span>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-round btn-block">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->
{% endblock %}










