{#<form method="post" action="{{ path('series_item_delete', {'id': series_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
    {#<input type="hidden" name="_method" value="DELETE">#}
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ series_item.id) }}">#}
    {#<button class="btn btn-sm btn-primary">Delete</button>#}
{#</form>#}
