{% extends 'base.html.twig' %}

{% block title %}Edit SeriesItem{% endblock %}

{% block body %}
    <h1>Edit SeriesItem</h1>

    {{ include('series_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('series_item_index') }}">back to list</a>

    {{ include('series_item/_delete_form.html.twig') }}
{% endblock %}
