{% extends 'base_oculus.html.twig' %}
{% block title %}Series Item index{% endblock %}

{% block dashboard_title %}Series Item{% endblock %}

{% block breadcrumb %}Series Item{% endblock %}

{% block new_create %}Series Item{% endblock %}

{% block new %}{{ path('series_item_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>Number</th>
    <th>Date</th>

    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
        {% for series_item in series_items %}
            <tr>
                {#<td>{{ series_item.id }}</td>#}
                {#<td>{{ series_item.createdAt ? series_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ series_item.updatedAt ? series_item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ series_item.owner }}</td>
                <td>{{ series_item.number }}</td>
                <td>{{ series_item.date ? series_item.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('series_item_show', {'id': series_item.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show serie item details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="  {{ path('series_item_edit', {'id': series_item.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit serie item details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ path('series_item_delete', {'id': series_item.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ series_item.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this serie"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15" style="background: #c1d7e3">No records found</td>
            </tr>
        {% endfor %}
    {% endblock %}





