{% extends 'base.html.twig' %}

{% block title %}New SeriesItem{% endblock %}

{% block body %}
    <h1>Create new SeriesItem</h1>

    {{ include('series_item/_form.html.twig') }}

    <a href="{{ path('series_item_index') }}">back to list</a>
{% endblock %}
