{% extends 'base_oculus.html.twig' %}

{% block title %}Show Series details{% endblock %}

{% block dashboard_title %}Series{% endblock %}

{% block breadcrumb %}Series{% endblock %}

{% block new_create %}Series{% endblock %}

{% block new %}{{ path('series_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('receipt_index') }}">
            <button class="btn btn-sm btn-primary">back to list</button>&nbsp;&nbsp;
        </a>
        {{ include('series/_delete_form.html.twig') }}
    {% endblock %}
