{% extends 'base_oculus.html.twig' %}
{% block title %}Series index{% endblock %}

{% block dashboard_title %}Series{% endblock %}

{% block breadcrumb %}Series{% endblock %}

{% block new_create %}Series{% endblock %}

{% block new %}{{ path('series_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>Name</th>
    <th>Background</th>
    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
        {% for serie in series %}
            <tr>
                {#<td>{{ serie.id }}</td>#}
                {#<td>{{ series.createdAt ? series.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ series.updatedAt ? series.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ serie.owner }}</td>
                <td>{{ serie.name }}</td>
                <td>{{ serie.background }}</td>

                <td>
                    <a href="{{ path('series_show', {'id': serie.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show serie details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="  {{ path('series_edit', {'id': serie.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit serie details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ path('series_delete', {'id': serie.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ serie.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this serie"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15" style="background: #c1d7e3">No records found</td>
            </tr>
        {% endfor %}
    {% endblock %}
