{% extends 'base.html.twig' %}

{% block title %}New Series{% endblock %}

{% block body %}


    {{ include('series/_form.html.twig') }}

    <a href="{{ path('series_index') }}">back to list</a>
{% endblock %}
