{#<form method="post" action="{{ path('invoice_item_delete', {'id': invoice_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
    {#<input type="hidden" name="_method" value="DELETE">#}
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice_item.id) }}">#}
    {#<button class="btn">Delete</button>#}
{#</form>#}
