{% extends 'base_oculus.html.twig' %}

{% block title %}Show invoice_item details{% endblock %}

{% block dashboard_title %}Invoice Item{% endblock %}

{% block breadcrumb %}Invoice Item{% endblock %}

{% block new_create %}Invoice Item{% endblock %}

{% block new %}{{ path('invoice_item_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('invoice_item_index') }}">
            <button class="btn btn-sm btn-primary">back to list</button>&nbsp;&nbsp;
        </a>
        {{ include('invoice_item/_delete_form.html.twig') }}
    {% endblock %}

