{% extends 'base.html.twig' %}

{% block title %}Edit InvoiceItem{% endblock %}

{% block body %}
    <h1>Edit InvoiceItem</h1>

    {{ include('invoice_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('invoice_item_index') }}">back to list</a>

    {{ include('invoice_item/_delete_form.html.twig') }}
{% endblock %}
