{% extends 'base.html.twig' %}

{% block title %}New InvoiceItem{% endblock %}

{% block body %}


    {{ include('invoice_item/_form.html.twig') }}

    <a href="{{ path('invoice_item_index') }}">back to list</a>
{% endblock %}
