{% extends 'base_oculus.html.twig' %}

{% block title %}InvoiceItem index{% endblock %}

{% block dashboard_title %}InvoiceItem{% endblock %}

{% block breadcrumb %}InvoiceItem{% endblock %}

{% block new_create %}InvoiceItem{% endblock %}

{% block new %}{{ path('invoice_item_new') }}{% endblock %}

{% block th %}
    <th>Id</th>
    <th>CreatedAt</th>
    <th>UpdatedAt</th>
    <th>Owner</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>

    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
            <tr>
                <td>{{ invoice_item.id }}</td>
                <td>{{ invoice_item.createdAt ? invoice_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice_item.updatedAt ? invoice_item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice_item.owner }}</td>
                <td>{{ invoice_item.name }}</td>
                <td>{{ invoice_item.quantity }}</td>
                <td>{{ invoice_item.price }}</td>

                <td>
                    <a href="{{ path('invoice_item_show', {'id': invoice_item.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show invoice_item details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="{{ path('invoice_item_edit', {'id': invoice_item.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit invoice_item details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post"
                          action="{{ path('invoice_item_delete', {'id': invoice_item.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ invoice_item.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this invoice"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
    {% endblock %}

% block buton %}
<a href="{{ path('invoice_item_index') }}">back to list</a>
<a href="{{ path('invoice_item_edit', {'id': invoice_item.id}) }}">edit</a>
{{ include('invoice_item/_delete_form.html.twig') }}
{% endblock %}

