{% extends 'base_oculus.html.twig' %}

{% block title %}Show Receipt details{% endblock %}

{% block dashboard_title %}Receipt{% endblock %}

{% block breadcrumb %}Receipt{% endblock %}

{% block new_create %}Receipt{% endblock %}

{% block new %}{{ path('receipt_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('receipt_index') }}">
            <button class="btn btn-sm btn-primary">back to list</button>&nbsp;&nbsp;
        </a>
        {{ include('receipt/_delete_form.html.twig') }}
    {% endblock %}

