{% extends 'base_oculus.html.twig' %}

{% block title %}Receipt index{% endblock %}

{% block dashboard_title %}Receipt{% endblock %}

{% block breadcrumb %}Receipt {% endblock %}

{% block new_create %}Receipt{% endblock %}

{% block new %}{{ path('receipt_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>Description</th>
    <th>Client</th>
    <th>Series Items</th>
    <th>Firm</th>
    <th>Invoice</th>
    <th>Value</th>
    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
        <tr>
            {#<td>{{ receipt.id }}</td>#}
            {#<td>{{ receipt.createdAt ? receipt.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
            {#<td>{{ receipt.updatedAt ? receipt.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
            <td>{{ receipt.owner }}</td>
            <td>{{ receipt.description }}</td>
            <td>{{ receipt.client }}</td>
            <td>{{ receipt.seriesItem }}</td>
            <td>{{ receipt.firm }}</td>
            <td>{{ receipt.invoice }}</td>
            <td>{{ receipt.value }}</td>
            <td>
                <a href="{{ path('receipt_show', {'id': receipt.id}) }}">
                    <button type="button" class="btn btn-sm btn-default"
                            title="Show receipt details" data-toggle="tooltip"
                            data-placement="top"><i
                                class="icon-book-open text-info"></i></button>
                </a>
                <a href="  {{ path('receipt_edit', {'id': receipt.id}) }}">
                    <button type="button" class="btn btn-sm btn-default"
                            title="Edit receipt details" data-toggle="tooltip"
                            data-placement="top"><i
                                class="icon-pencil text-info"></i></button>
                </a>
            </td>
            <td>
                <form method="post" action="{{ path('receipt_delete', {'id': receipt.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token"
                           value="{{ csrf_token('delete' ~ receipt.id) }}">
                    <button class="btn btn-sm btn-default" title="Delete this client"
                            data-toggle="tooltip" data-placement="top"><i
                                class="icon-trash text-info"></i></button>
                </form>
            </td>
        </tr>
    {% endblock %}

{% block buton %}
<a href="{{ path('receipt_index') }}">back to list</a>
<a href="{{ path('receipt_edit', {'id': receipt.id}) }}">edit</a>
{{ include('receipt/_delete_form.html.twig') }}
{% endblock %}












