
{% extends 'base_oculus.html.twig' %}

{% block title %}Show client details{% endblock %}

{% block dashboard_title %}Client{% endblock %}

{% block breadcrumb %}Client {% endblock %}

{% block new_create %}Client{% endblock %}

{% block new %}{{ path('client_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('client_index') }}"><button class="btn btn-sm btn-primary">back to list</button></a>&nbsp;&nbsp;
        {{ include('client/_delete_form.html.twig') }}
    {% endblock %}





