{% extends 'base_oculus.html.twig' %}

{% block title %}Client index{% endblock %}

{% block dashboard_title %}Client{% endblock %}

{% block breadcrumb %}Client {% endblock %}

{% block new_create %}Client{% endblock %}

{% block new %}{{ path('client_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>ClientType</th>
    <th>Name</th>
    <th>County</th>
    <th>City</th>
    <th>Adress</th>
    <th>Phone</th>
    <th>Email</th>
    <th>UniqueRegistrationCode</th>
    <th>Bank</th>
    <th>IbanCode</th>
    <th>CommercialRegisterNumber</th>
    <th class="w60">Actions</th>
{% endblock %}


    {% block Entities %}
        {% for client in clients %}
            <tr>
                {#<td>{{ client.id }}</td>#}
                {#<td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ client.owner }}</td>
                <td>{{ client.clientType }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.county }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.adress }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.uniqueRegistrationCode }}</td>
                <td>{{ client.bank }}</td>
                <td>{{ client.ibanCode }}</td>
                <td>{{ client.commercialRegisterNumber }}</td>


                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show client details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="  {{ path('client_edit', {'id': client.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit firm details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ path('client_delete', {'id': client.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ client.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this client"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15" style="background: #c1d7e3">No records found</td>
            </tr>
        {% endfor %}
    {% endblock %}




