{% extends 'base_oculus.html.twig' %}

{% block title %}Show firm details{% endblock %}

{% block dashboard_title %}Firm{% endblock %}

{% block breadcrumb %} Firm {% endblock %}

{% block new_create %}Firm{% endblock %}

{% block new %}{{ path('firm_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('client_index') }}"><button class="btn btn-sm btn-primary">Back to list</button></a>&nbsp;&nbsp;
        {{ include('firm/_delete_form.html.twig') }}
    {% endblock %}

