
{% extends 'base_oculus.html.twig' %}

{% block title %}Firm index{% endblock %}

{% block dashboard_title %}Firm{% endblock %}

{% block breadcrumb %}Firm{% endblock %}

{% block new_create %}Firm{% endblock %}

{% block new %}{{ path('firm_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>Name</th>
    <th>County</th>
    <th>City</th>
    <th>Adress</th>
    <th>Phone</th>
    <th>Email</th>
    <th>UniqueRegistrationCode</th>
    <th>Bank</th>
    <th>IbanCode</th>
    <th>CommercialRegisterNumber</th>
    <th>Pays VAT</th>

    <th class="w60">Actions</th>
{% endblock %}


    {% block Entities %}
        {% for firm in firms %}
            <tr>
                {#<td>{{ firm.id }}</td>#}
                {#<td>{{ firm.createdAt ? firm.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ firm.updatedAt ? firm.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ firm.owner }}</td>
                <td>{{ firm.name }}</td>
                <td>{{ firm.county }}</td>
                <td>{{ firm.city }}</td>
                <td>{{ firm.adress }}</td>
                <td>{{ firm.phone }}</td>
                <td>{{ firm.email }}</td>
                <td>{{ firm.uniqueRegistrationCode }}</td>
                <td>{{ firm.bank }}</td>
                <td>{{ firm.ibanCode }}</td>
                <td>{{ firm.commercialRegisterNumber }}</td>
                <td>{{ firm.paysVat }}</td>
                <td>
                    <a href="{{ path('firm_show', {'id': firm.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show firm details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="  {{ path('firm_edit', {'id': firm.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit firm details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ path('firm_delete', {'id': firm.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ firm.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this firm"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15" style="background: #c1d7e3">No records found</td>
            </tr>
        {% endfor %}
    {% endblock %}












