{% extends 'base.html.twig' %}

{% block title %}New Firm{% endblock %}

{% block body %}


    {{ include('firm/_form.html.twig') }}

    <a href="{{ path('firm_index') }}">back to list</a>
{% endblock %}
