{#<form method="post" action="{{ path('v_a_t_delete', {'id': v_a_t.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
    {#<input type="hidden" name="_method" value="DELETE">#}
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ v_a_t.id) }}">#}
    {#<button class="btn">Delete</button>#}
{#</form>#}
