{% extends 'base_oculus.html.twig' %}

{% block title %}Show VAT details{% endblock %}

{% block dashboard_title %}VAT{% endblock %}

{% block breadcrumb %}VAT{% endblock %}

{% block new_create %}VAT{% endblock %}

{% block new %}{{ path('v_a_t_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('user_index') }}"><button class="btn btn-sm btn-primary">back to list</button></a>&nbsp;&nbsp;
        {{ include('vat/_delete_form.html.twig') }}
    {% endblock %}

