{% extends 'base.html.twig' %}

{% block title %}Edit VAT{% endblock %}

{% block body %}


    {{ include('vat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('v_a_t_index') }}">back to list</a>

    {{ include('vat/_delete_form.html.twig') }}
{% endblock %}
