{% extends 'base_oculus.html.twig' %}

{% block title %}VAT index{% endblock %}

{% block dashboard_title %}VAT{% endblock %}

{% block breadcrumb %}VAT{% endblock %}

{% block new_create %}VAT{% endblock %}

{% block new %}{{ path('v_a_t_new') }}{% endblock %}

{% block th %}

    {#<th>Id</th>#}
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>Name</th>
    <th>Value</th>
    <th>IsActive</th>

    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
        {% for v_a_t in v_a_ts %}
            <tr>
                {#<td>{{ v_a_t.id }}</td>#}
                {#<td>{{ v_a_t.createdAt ? v_a_t.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ v_a_t.updatedAt ? v_a_t.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ v_a_t.owner }}</td>
                <td>{{ v_a_t.name }}</td>
                <td>{{ v_a_t.value }}</td>
                <td>{{ v_a_t.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('v_a_t_show', {'id': v_a_t.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show vat details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="{{ path('v_a_t_edit', {'id': v_a_t.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit vat details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post"
                          action="{{ path('v_a_t_delete', {'id': v_a_t.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ v_a_t.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this VAT"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15" style="background: #c1d7e3">No records found</td>
            </tr>
        {% endfor %}
    {% endblock %}

