{% extends 'base_oculus.html.twig' %}

{% block title %}Show user details{% endblock %}

{% block dashboard_title %}User{% endblock %}

{% block breadcrumb %}User{% endblock %}

{% block new_create %}User{% endblock %}

{% block new %}{{ path('user_new') }}{% endblock %}

    {% block th %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>&nbsp;&nbsp;
        {{ form_end(form) }}
        <a href="{{ path('user_index') }}"><button class="btn btn-sm btn-primary">back to list</button></a>&nbsp;&nbsp;
        {{ include('user/_delete_form.html.twig') }}
    {% endblock %}



