
{% extends 'base_oculus.html.twig' %}

{% block title %}User index{% endblock %}

{% block dashboard_title %}User{% endblock %}

{% block breadcrumb %}User{% endblock %}

{% block new_create %}User{% endblock %}

{% block new %}{{ path('user_new') }}{% endblock %}

{% block th %}
    {#<th>Id</th>#}
    <th>Id</th>
    {#<th>CreatedAt</th>#}
    {#<th>UpdatedAt</th>#}
    <th>Owner</th>
    <th>Username</th>
    <th>Roles</th>
    <th>Password</th>
    <th>Name</th>

    <th class="w60">Actions</th>
{% endblock %}

    {% block Entities %}
            <tr>
                <td>{{ user.id }}</td>
                {#<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ user.owner }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>

                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Show user details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-book-open text-info"></i></button>
                    </a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">
                        <button type="button" class="btn btn-sm btn-default"
                                title="Edit user details" data-toggle="tooltip"
                                data-placement="top"><i
                                    class="icon-pencil text-info"></i></button>
                    </a>
                </td>
                <td>
                    <form method="post"
                          action="{{ path('user_delete', {'id': user.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn btn-sm btn-default" title="Delete this user"
                                data-toggle="tooltip" data-placement="top"><i
                                    class="icon-trash text-info"></i></button>
                    </form>
                </td>
            </tr>
    {% endblock %}


{% block buton %}
    <a href="{{ path('user_index') }}">back to list</a>
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}





